<h1 class="text-8xl text-center font-medium font-mono my-4">Student Manager</h1>
<div class="flex row justify-around w-96 m-auto my-5">
    <button [routerLink]="['/add-student']" class="border py-3 px-6 rounded-sm font-medium text-xl bg-slate-700 text-white transition-all hover:bg-slate-950">Add student</button>
    <button [routerLink]="['/students-list']" class="border py-3 px-6 rounded-sm font-medium text-xl bg-slate-700 text-white transition-all hover:bg-slate-950">Show student</button>
</div>